################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.cr/personal/FavoritesList/List.xml
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/CodeChunks.db
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/CodeChunks.db-shm
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/CodeChunks.db-wal
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/SemanticSymbols.db
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/SemanticSymbols.db-shm
/.vs/Genesis_NG/CopilotIndices/18.3.511.5503/SemanticSymbols.db-wal
/.vs/Genesis_NG/FileContentIndex/3ca45eb1-fa49-4685-9f1b-0b72a6b1fbc7.vsidx
/.vs/Genesis_NG/FileContentIndex/c696158f-b7bc-477c-a73b-e8d2788b11f0.vsidx
/.vs/Genesis_NG/FileContentIndex/e16d00e1-efe8-4728-bdfb-ac5bcdead4e6.vsidx
/.vs/Genesis_NG/FileContentIndex/f50b2cf0-9daa-45c9-bdf5-6f6022ee40bd.vsidx
/.vs/Genesis_NG/FileContentIndex/fd1577e1-6771-45de-953d-0b181faa836f.vsidx
/.vs/Genesis_NG/v17/.suo
/.vs/Genesis_NG/v17/DocumentLayout.backup.json
/.vs/Genesis_NG/v17/DocumentLayout.json
/.vs/Genesis_NG.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/Genesis_NG.slnx/FileContentIndex/44453c3d-e71f-4615-bee1-386434ce9bed.vsidx
/.vs/Genesis_NG.slnx/FileContentIndex/5754c398-8748-4a45-b923-8761ae044806.vsidx
/.vs/Genesis_NG.slnx/FileContentIndex/733f1802-d91a-4883-9ba8-e39c97147c27.vsidx
/.vs/Genesis_NG.slnx/FileContentIndex/d726fb8b-ec0b-4b3d-8c81-80aaa9b48b6c.vsidx
/.vs/Genesis_NG.slnx/FileContentIndex/fce8ecd5-37e9-4a16-9b9b-ff692a6a07b4.vsidx
/.vs/Assembly-CSharp-Editor.csproj.dtbcache.json
/.vs/Assembly-CSharp.csproj.dtbcache.json
/.vs/Genesis_NG.slnx/v18/.futdcache.v2
/.vs/Genesis_NG.slnx/v18/.suo
/.vs/Genesis_NG.slnx/v18/DocumentLayout.backup.json
/.vs/Genesis_NG.slnx/v18/DocumentLayout.json
/.vs/Genesis_NG.slnx/v18/fileList.bin
/.vs/Unity.GraphToolkit.Samples.TextureMaker.Editor.csproj.dtbcache.json
/.vs/Unity.GraphToolkit.Samples.VisualNovelDirector.csproj.dtbcache.json
/.vs/Unity.GraphToolkit.Samples.VisualNovelDirector.Editor.csproj.dtbcache.json
/Assets/OdinSerializer/Config/AssemblyBuildInfo.cs
/Assets/OdinSerializer/Config/AssemblyBuildInfo.cs.meta
/Assets/OdinSerializer/Config/GlobalSerializationConfig.cs
/Assets/OdinSerializer/Config/GlobalSerializationConfig.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryDataReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryDataReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryDataWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryDataWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryEntryType.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Binary/BinaryEntryType.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonConfig.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonConfig.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonDataReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonDataReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonDataWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonDataWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonTextReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/Json/JsonTextReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataReaderWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataReaderWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/BaseDataWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Binary.meta
/Assets/OdinSerializer/Core/DataReaderWriters/IDataReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/IDataReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/IDataWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/IDataWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/Json.meta
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNode.cs
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNode.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataReader.cs
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataReader.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataReaderWriterConfig.cs
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataReaderWriterConfig.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataWriter.cs
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes/SerializationNodeDataWriter.cs.meta
/Assets/OdinSerializer/Core/DataReaderWriters/SerializationNodes.meta
/Assets/OdinSerializer/Core/FormatterLocators/ArrayFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/ArrayFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/DelegateFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/DelegateFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/FormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/FormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/GenericCollectionFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/GenericCollectionFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/IFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/IFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/ISerializableFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/ISerializableFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/SelfFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/SelfFormatterLocator.cs.meta
/Assets/OdinSerializer/Core/FormatterLocators/TypeFormatterLocator.cs
/Assets/OdinSerializer/Core/FormatterLocators/TypeFormatterLocator.cs.meta
/Assets/MicroSplatData/MicroSplat.mat
/Assets/MicroSplatData/MicroSplat.mat.meta
/Assets/MicroSplatData/MicroSplat.shader
/Assets/MicroSplatData/MicroSplat.shader.meta
/Assets/MicroSplatData/MicroSplatConfig.asset
/Assets/MicroSplatData/MicroSplatConfig.asset.meta
/Assets/MicroSplatData/MicroSplatConfig_diff_tarray.asset
/Assets/MicroSplatData/MicroSplatConfig_diff_tarray.asset.meta
/Assets/MicroSplatData/MicroSplatConfig_normSAO_tarray.asset
/Assets/MicroSplatData/MicroSplatConfig_normSAO_tarray.asset.meta
/Assets/MicroSplatData/MicroSplat_Base.shader
/Assets/MicroSplatData/MicroSplat_Base.shader.meta
/Assets/MicroSplatData/MicroSplat_keywords.asset
/Assets/MicroSplatData/MicroSplat_keywords.asset.meta
/Assets/MicroSplatData/microsplat_layer__0.terrainlayer
/Assets/MicroSplatData/microsplat_layer__0.terrainlayer.meta
/Assets/MicroSplatData/MicroSplat_propdata.asset
/Assets/MicroSplatData/MicroSplat_propdata.asset.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Decal.shader
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Decal.shader.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Fabric.shader
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Fabric.shader.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Hair.shader
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Hair.shader.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Lit.shader
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Lit.shader.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Unlit.shader
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP/Unlit.shader.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/HDRP.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates.meta
/Assets/AmplifyShaderEditor/Plugins/EditorResources.meta
/Assets/AmplifyShaderEditor/Plugins.meta
