################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/.cr/*
/Assets/AmplifyShaderEditor/*
/Assets/MicroSplatData/*
/Assets/OdinSerializer/*
/Assets/Settings/*
/Assets/Textures/*
/Assets/_Recovery/*
/Library/*
/Logs/*
/Packages/com.jbooth*
/ProjectSettings/*
/Temp/*
/UserSettings/*
/Unity*
/debug.log
/Odin*
/Mathematics*
/JBooth*

